/* Universal Part */

body{
    font-family: 'Inter';}

.container{
    max-width: 1900px;
    margin: auto;}

.btn{
    background-color: #469165;
    width: 164px;
    height: 44px;
    padding: 12px 16px;
    border-radius: 4px;
    border: 0px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    
}

.btn a{
    text-decoration: none;
    color: white;
}

.btn a:hover{
    text-decoration: none;
    color: #469165;
}

.btn:has(a:hover) {
    background-color: white;
    
    border: 1px solid #469165;
}


/* header Nav section */

header .nav-container{
    display: flex;
    justify-content:space-between;
    margin: 20px 120px;
    align-items: center;}

.nav-container .logo{
    height: 60px;
    width: 140px;}

.nav-container .features{
    display: flex;
    gap: 32px;
    list-style:none;}

.nav-container .features a{
    text-decoration: none;
    padding:10px;
    color: black;
    font-size: medium;
    font-weight: 500;}

 .nav-container .features a:hover{
    text-decoration: none;
    background-color: #469165;
    color: white;
    font-size: medium;
    font-weight: 500;}   




/* section banner */

#banner{
    background-image:url('../images/hero-bg.png');
    image-orientation:inherit;
    height: 500px;
    padding: 50px;}

#banner .banner-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}


.special-part{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 500px;
    width: 230px;
    height: 15px;
    max-height: 35px;
    margin: 0;
    margin-top:60px;
    align-items: center;
    text-align: center;
   padding: 10px;}

.special-part .circles{
    height: 20px;
    width: 20px;
    position:relative;
    padding: 4px;}

.circles div {
    position: absolute;}

.special-part .circles .circle1{
    height: 6px;
    width: 6px;
    background-color: #469165;
    border-radius: 50%;
    opacity: 1;
    top: 9px;
    left: 9px;}

.special-part .circles .circle2{
    height: 12px;
    width: 12px;
    background-color: #469165;
    border-radius: 50%;
    opacity: .4; 
    top: 6.1px;
    left: 6.1px;
}

.special-part .circles .circle3{
  
    height: 16px;
    width: 16px;
    background-color: #469165;
    border-radius: 50%;
    opacity: .2;
}


.early-access-text{ 
    position: relative;
    color: #469165;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    }

.banner-content h1{
    font-size: 72px;
    font-weight: 600;
    color: white;
    padding: 2px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 0;}

.line{
    color: #30B868;}
 
.structured-detailed-text{
    color: white;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    line-height: 24px;
    line-height: 2;
}

.btn-style{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
}
.banner-content .btn{
    width: 250px;
    height: 52px;
    margin-top: 25px;
    padding: 12px 16px;
    
}

.banner-content .btn2{
    width: 200px;
    height: 52px;
    margin-top: 25px;
    padding: 12px 16px;
    background-color: rgba(240, 248, 255, 0);
    border-color: white;
    color: white;
    border-radius: 5px;
font-size: 16px;
font-weight: bold;
text-decoration: none;}

.btn2 a{
    text-decoration: none;
    color:white;
}


.btn2 a:hover{
    text-decoration: none;
    color: #469165;
}

.btn2:has(a:hover) {
    background-color: white;
    
    border: 1px solid #469165;
}

.icons{
    height: 20px;
    width: 20px;}

.buttons{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    gap: 10px;}


h2{
    font-style: Bold;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 8%;}







/* Section-1 */

.structure-container{
    background-color:#fbfbfb;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 120px;}

.section-title  h2{
    text-align: center;
    text-transform: capitalize;
    margin-top: 30px;
    margin-bottom: 0px;}

.section-title p{
    font-style:normal;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color:#627382;
    padding-bottom: 32px;}

.cards{
    display: flex;
    justify-content: center;
    gap: 24px;
    background-color: #fbfbfb;}

.cards .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 2px 0px 2px 2px #a0a0a00b;
    height: 300px;
    width: 322px;
    padding: 16px;

}
.card h3{
    font-size: 24;
    text-align: center;
    margin-bottom: 0;
}

.card p{
    font-size: 16;
    text-align: center;
    color: rgba(98, 115, 130, 1);
    
}

.cards .card img{
    background-color: rgba(249, 85, 85, 1);
    border-radius: 50%;
    padding: 20px;}





/* second section */

.apps-container{
    background-color:white;
    padding: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;}

.knowledge-pic{
    width: 120px;
    height: 120px;}

.apps-text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:16px;
    padding-left: 60px;}


.apps-text-container  h6{
    margin:0;
    font-size: 16px;
    color: #469165;
    letter-spacing: 8%;
    text-align: left;
    text-transform: uppercase;}


.apps-text-container  h2{
    margin: 0;
    text-align: left;
    text-transform: capitalize;}


.apps-text-container  .tick ul{
    margin-top: 16px;
    list-style-image: url('../images/CheckCircle.png');
    margin-left: -15px;}



.apps-text-container  .tick li {
    line-height: 2;
    font-size: 16px;
    font-weight: bold;
}

.apps-text-container  p{
    font-size: 16;
    color: #627382;
}







/* 3rd section */


.think-more-container{
    padding: 0 120px 120px 120px;
}

.think-more-box{
    padding-top: 40px;
    padding-bottom: 40px;

    background-color: #F7F6F2; 
    text-align: center;
}

.think-more-box h2{
margin-bottom: 0;

}

.think-more-box p{
    font-size: 16;
    color: #627382;

}


.btn-think{
    background-color: #469165;
    width: 194px;
    height: 52px;
    padding: 12px 16px;
    border-radius: 4px;
    border: 0px;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 10px;
    -webkit-box-shadow: 0px 5px 18px -1px #b6b6b6; 
    box-shadow: 0px 5px 18px -1px #b6b6b6;
    font-size: 16px;
}

.btn-think a{
    text-decoration: none;
    color:white;
}


.btn-think a:hover{
    text-decoration: none;
    color: #469165;
}

.btn-think:has(a:hover) {
    background-color: white;
    
    border: 1px solid #469165;
}

.footer-container{
    padding: 120px 120px 30px 120px;
    background-color: #001931;
    
}

.footer-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.social{
    width: 220px;
    
}

.social p{
    color: white;


    font-style: Medium;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin:0 0 16px 0 ;

}

.social-icons{
    display: flex;
    flex-direction: row;
    gap: 16px;

}
.social-icons img{
    width:20px;
    height:20px;
}

.footer-container hr{
    background-color: rgba(229, 231, 235, 1);
    opacity: 0.2;
    margin-top: 80px;
}

.copyright{
    color:white;
    font-size: 16;
    margin: 20px 0;
    text-align: center;

}