.container{
    max-width: 1900px;
    margin: auto;}

.btn{
    background-color: #30B868;
    width: 164px;
    height: 44px;
    padding: 12px 16px;
    border-radius: 4px;
    border: 0px;
    color: white;
    font-weight: 600;
}


/* header Nav section */

header .nav-container{
    display: flex;
    justify-content:space-between;
    margin: 24px 120px;
    align-items: center;}

.nav-container .logo{
    height: 60px;
    width: 140px;}

.nav-container .features{
    display: flex;
    gap: 32px;
    list-style:none;}

.nav-container .features a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 500;}


/* section banner */

#banner{
    background-image:url(./assets/hero-bg.png);
    image-orientation:inherit;
    height: 500px;
    padding: 50px;}

#banner .banner-content{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

.banner-content h6{
    background-color: white;
    color: #30B868;
    border-radius: 500px;
    font-size: 16px;
    font-weight: 500;
    width: 240px;
    height: 35px;
    margin: 60px auto;
    align-items: center;
    text-align: center;
    padding-top: 20px;}

.banner-content h1{
    font-size: 72px;
    font-weight: 600;
    color: white;
    padding: 2px;}

.line{
    color: #30B868;
}
 
.banner-content p{
    color: white;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    line-height: 24px;
}

.btn-style{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.banner-content .btn{
    width: 250px;
    height: 52px;
    margin-top: 25px;
    padding: 12px 16px;
    
}

.banner-content .btn2{
    width: 170px;
    height: 52px;
    margin-top: 25px;
    padding: 12px 16px;
    background-color: rgba(240, 248, 255, 0);
    border-color: white;
    color: white;
    border-radius: 5px;}

.icons{
    height: 20px;
    width: 20px;}

.buttons{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;}



/* Section-1 */
.structure

.structure-container{
    background-color: rgb(241, 250, 250);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 120px;
}

.text h3{
    font-style: Bold;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: 8%;
    text-align: center;
    text-transform: capitalize;}

.text p{
    font-style:normal;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 24px;}

.cards .card{
    border: .5px solid rgb(3, 36, 3);
    background-color: rgb(245, 250, 248);
    border-radius: 7px;
    box-shadow:blue;
    padding: 70px 40px;

}

.cards .card img{
    background-color: rgba(249, 85, 85, 1);
    border-radius: 50%;

}



.brain{
    display: flex;
    gap: 10px;
    align-items: center;
}

